.todo-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding:.5rem
}

.todo-label{
    font-size: 1.2rem;
    cursor:pointer;
}

.todo-list-item.important .todo-label{
    color: steelblue;
    font-weight: bold;
}

.todo-list-item.done .todo-label{
    text-decoration: line-through;
}

/*.todo-list-item.important .todo-list-item-label {*/
/*  font-weight: bold;*/
/*  color: steelblue;*/
/*}*/
