.todo-app{
    max-width:70%;
    margin: 2rem auto;
    padding:1rem;
    border-radius:5px;
}

.top-panel{
    margin-top:.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.top-panel input{
    margin-right: 1rem;
}
